.card {
    border: none;
  }
  
  .card-body img {
    margin-right: 15px;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .btn-block {
    width: 100%;
    font-size: 18px;
  }
  
  .font-weight-bold {
    font-weight: bold;
  }
  